vg-player {

    height: 400px;
    width: 600px;
    background-color: black;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* position: absolute; */
}
video {
    width: 100% !important;
    height: auto !important;
}
